<div class="version-selector body-block dark-border">
    <p class="version-select">
        <label>
            <input type="radio" value="1940" [formControl]="versionControl" (change)="onVersionSelect()" />
            Europe & Pacific 1940
        </label>
        <label>
            <input type="radio" value="1942" [formControl]="versionControl" (change)="onVersionSelect()" />
            1942
        </label>
        <label>
            <input type="radio" value="1941" [formControl]="versionControl" (change)="onVersionSelect()" />
            1941
        </label>
    </p>
</div>
