<div class="item dark-border body-block">
    <span class="item-name light-border">{{unit.name}}</span>
    <app-item-attribute name="Move" [value]="unit.move"></app-item-attribute>
    <app-item-attribute name="Attack" [value]="unit.attack"></app-item-attribute>
    <app-item-attribute name="Defense" [value]="unit.defense"></app-item-attribute>
    <app-item-attribute name="Cost" [value]="unit.cost"></app-item-attribute>
    <app-item-count (changedCount)="onCountChange($event)"></app-item-count>
    <app-item-attribute name="Subtotal" [value]="subtotal"></app-item-attribute>
</div>
