.item {
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.item-name {
    height: 45px;
    width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}
