@media screen and (min-width: 550px) {
    .item {
        height: 50px;
        width: 523px;
    }
    .item-name {
        width: 200px;
    }
}
@media screen and (max-width: 550px) {
    .item {
        height: 100px;
        flex-wrap: wrap;
    }
    .item-name {
        width: 320px;
    }
}
.item {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
}
.item-name {
    height: 45px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}
