div.body {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 550px) and (max-width: 1100px) {
    div.body {
        width: 535px;
    }
}

@media screen and (min-width: 1100px) {
    div.body {
        width: 1070px;
    }
}

@media screen and (max-width: 550px) {
    div.body {
        width: 350px;
    }
}
