div.body {
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 550px) {
    div.body {
        width: 525px;
    }
}

@media screen and (max-width: 600px) {
    div.body {
        width: 350px;
    }
}
