div.body {
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 600px) {
    div.body {
        width: 584px;
    }
}

@media screen and (max-width: 600px) {
    div.body {
        width: 400px;
    }
}
