.total {
    width: 625px;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}
.total-name {
    display: inline-block;
    height: 40px;
    width: 200px;

    text-align: center;
}
.total-spacer{
    display: inline-block;
    height: 40px;
    width: 308px;
    flex-grow: 0;

    text-align: center
}
