@import "https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap";

body {
    font-family: Bebas Neue;
    background-color: #4b5320;
    color: #660000;
}
.body-block {
    background-color: palegoldenrod;
}
.dark-border {
    border-radius: 5px;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}
.light-border {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #AAAAAA;
}
